layout {

    focus-ring {
        active-color   "#9a4056"
        inactive-color "#fff8f7"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#9a4056"
        inactive-color "#fff8f7"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#9a4056"
        inactive-color "#ffd9de"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#9a405680"
    }
}

recent-windows {
    highlight {
        active-color "#9a4056"
        urgent-color "#ba1a1a"
    }
}
